body{
  margin-top: 50px;
}

.divide-nav{
  height: 90px;
  background-color: #428bca;
}

.divide-text{
    color:#fff;
    line-height: 30px;
    font-size:30px;
    padding: 40px 0;
    padding-left: 15px;
}

.affix {
  top: 50px;
  width:100%;
  z-index: 10;
}

.affix + .container {
    padding-top:75px
}

.filler{
  min-height: 800px;
}

.navbar-form {
   padding-left: 0;
}

.navbar-default {
   background-color: #333333;
   border: 0px;
}

.navbar-collapse {
   padding-left:0;
}

.dropdown {
  border-left: 1px solid rgba(255,255,255,.3);
}

navbar-right > li {
  border-left: 1px solid rgba(255,255,255,.3);
}
